<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    KI PoC
  </h1>
  <nav>
        <a routerLink="/upload">Upload</a>
        <a routerLink="/filelist">Filelist</a>
        <a routerLink="/outputLast">Last Processed</a>
  </nav>
  <router-outlet></router-outlet>
 
</div>

