nav a {
  padding: 13px 12px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #dddddd;
  border-radius: 5px;
}


nav a:hover {
  background-color: #cccccc;       
}

nav a:visited, a:link {
  color: #333333;
}

nav a:active {
  background-color: #eeeeee;
}
