<div>
	<h2>File upload</h2>
  <div>
  {{ uploadResponse }} 
  </div>
	 <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="file" name="uploadFile" (change)="onFileChange($event)" />
    <button type="submit">Upload</button>

  </form>
</div>

