img.outputimg {
  width: 75%;
  height: auto;
}

ul {
  padding-left: 0;
}

ul.imgs {
  list-style: none;
}


ul.results {
  list-style: none;
  background-color: #eeeeee;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


ul.result {
  list-style: digits;
  background-color: #dddddd;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

ul.results>li {
  border-style: solid;
  border-width: 1px;
}

ul.result>li {
  border-style: dotted;
  border-width: 1px;
}
