<div>
        <h2>Output</h2>
        <ul class='imgs'>
                <li *ngFor="let r of pictures">
                <img class="outputimg" src="{{r}}"/>
                </li>
        </ul>
	<h2>Results</h2>
	<ul class='results'>
		<li *ngFor="let r of res">
			<div class="result" *ngIf="r.prob">
			<b>{{r.label}}</b><i>({{r.prob | percent}})</i>
			</div>
			<div *ngIf="r.frames">
				<h2>{{r.label}}</h2>
				<h3>frames</h3>
				<ul class="result">
					<li *ngFor="let t of r.frames">
						<i>{{t[1] | timestamp: fps}} - {{t[2] | timestamp: fps}}</i>
					</li>
				</ul>
			</div>
		</li>
		
	</ul>
</div>
